#carddetail{
    height: 90vh;
    top: 0;
    bottom: 10vh;
    overflow: scroll;
}
#headcontain{
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}
#detailhead{
    width: 143px;
    height: 143px;
    border-radius: 90px;
    display: inline-block;
    background-image: url(../img/test.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 3vh;
}
.barbox{
    width: 100%;
    height: auto;
}
.bararea{
    display: block;
    text-align: left;
    padding-left: 14vw;
}
.barbox-1,.barbox-2{
    width:40vw;
    height: 3px;
    background-color: rgb(179, 179, 179);
    margin-top: 2vh;
    display: inline-block;
}
.barhead{
    font-size: 12px;
    height: 2vh;
    margin-top: 1.2vh;
    margin-right: 3vw;
    color: #FFF16E;
    border-left: 3px solid bisque;
    padding-left: 2vw;
    font-family: 'simsun',sans-serif;
}
.bar1{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 1px #FFF16E, 0 0 1px #FFF16E, 0 0 1px #FFF16E;
    background-color: #FFF16E;
}
.bar2{
    width: 50%;
    height: 100%;
    box-shadow: 0px 0px 10px 1px #FFF16E, 0 0 1px #FFF16E, 0 0 1px #FFF16E;
    background-color: #FFF16E;
}
.percent{
    font-size: 12px;
    height: 4.5vh;
    margin-top: 1.2vh;
    margin-right: 3vw;
    color: #FFF16E;
    padding-left: 2vw;
    font-family: 'simsun',sans-serif;
}
.headarea{
    font-size: 0;
    width: 66vw;
    height: 10vw;
    margin: 2vh 16vw 2px auto;
    text-align: left;
    overflow: hidden;
    transition: height,0.6s;
}
.userhead{
    margin:0;
    width: 10vw;
    height: 10vw;
    margin-right: 3vw;
    margin-bottom: 2vw;
    background-image: url(../img/test.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
}
.cardwork{
    position: relative;
    width: 91vw;
    height: 30vh;
    border-radius: 7px;
    background: linear-gradient(to left,#0505074d,#5d5d5e94);
    margin: 5vh 5vw auto 5vw;
}
.douhao{
    position: absolute;
    top: -6%;
    left: 5%;
    width: 7vw;
    height: 3.5vh;
    background-image: url(../img/douhao.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.cardwork-left{
    height: 100%;
    width: 60%;
    display: inline-block;
    float: left;
}
strong{
    color: #ffffff;
    font-size: 4vw;
    margin-top: 3vh;
    display: block;
    font-family: 'simhei',sans-serif;
    margin-left: 10%;
}
.cardwork-left .label{
    display: block;
    position: relative;
    text-align: center;
    left: 19%;
    margin-top: 2vh;
    width: 40px;
    height: 18px;
    line-height: 18px;
    font-size: 3.5vw;
}
.cardinformation{
    color: #ffffff;
    font-size: 3vw;
    margin-top: 3vh;
    margin-left: 10%;
}
.cardwork-left span{
    color: #ffffff;
    font-size: 3vw;
}
.puttime{
    position: absolute;
    bottom: 14%;
    left: 4%;
}
.deadline{
    position: absolute;
    bottom: 3%;
    left: 4%;
}
.puttime p , .deadline p{
    font-family: 'simhei',sans-serif;
    display: inline-block;
    color:#ffffff; 
    font-size: 3vw;
}
.cardwork-right{
    height: 100%;
    width: 40%;
    display: inline-block;

}
.righthead{
    width: 100%;
    height: 50%;
}
.rightheadimg{
    width:44px;
    height: 44px;
    border-radius: 10px;
    display: inline-block;
    background-image: url(../img/head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin: 1vh 0 1vh 0;
}
.righthead > div{
    text-align: center;
    height: 55px;
}
.rightheadid{
    margin-top: 3px;
    display: block;
    width:100%;
    text-align: center;
    color:#ffffff;
    font-size: 14px;
}
.rightbtn1{
    text-align: center;
}
.rightbtn1 input{
    width: 50%;
    height:6vh ;    
    border-radius: 3px;
    font-size: 3.5vw;
    font-family: 'youyuan',sans-serif;
}
.rightbtn-1{
    background-color: #FFF172;
}
.rightbtn-2{
    background-color: #ffffff;
    margin-top: 2vh;
}
.rightbtn2{
    text-align: center;
}
.rightbtn2 div{
    width: 51%;
    display: inline-block;
    margin-bottom: 2vh;
    height:4vh ;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.rightbtn-3{
    background-image: url(../img/write.png);
}
.rightbtn-3{
    background-image: url(../img/write.png);
}.rightbtn-4{
    background-image: url(../img/bin2.png);
}
.discuss-area{
    width: 100%;
    height: 30vh;
    margin-top: 8%;
}
.discuss-top{
    width: 100%;
    margin:0 0 2% 0 ;
    height: 10%;
}
.discuss-top span{
    color: #ffffff;
    font-size: 2.5vh;
    margin-left: 10%;
}
.discuss-top div{
    width: 22px;
    height: 16px;
    background-image: url(../img/discuss0.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align:text-bottom;
}
.discuss-middle{
    width: 100%;
    height: 70%;
    overflow: scroll;
}
.discuss-detail{
    width: 80%;
    height: 40%;
    margin: 1vh 10% 0 10%;
    display: flex;
    align-items: center;
}
.discuss-head{
    width: 33px;
    height:33px;
    border-radius: 20px;
    background-image: url(../img/head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
}
.discuss-text{
    font-family: 'simsun',sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    max-width: 50%;
    margin-left: 3vw;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}
.discuss-detail span{
    font-family: 'simhei',sans-serif;
    font-size: 13px;
    margin-left: 3vw;
    color: #FFFFFF;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    max-width: 36%;
}
.discuss-middle hr{
    width:70%;
    margin: 0 10% 0 10%;
    color: #FFFFFF;
}
.discussTime{
    width: 70%;
    height: auto;
    font-size: 1vw;
    margin: -1% auto 1.5vh 10%;
}
.discussTime span{
    font-family: 'simhei',sans-serif;
    color: #ffffff;
}
.discuss-bottom{
    width: 100%;
    font-size: 0;
}
.discuss-bottom input{
    height: 29px;
    vertical-align: bottom;
    margin:1vh 0 13vh 0;
    outline: none;
    font-family: 'youyuan',sans-serif;
}
.discuss-bottom .input-text{
    width: 60%;
    margin-left: 12vw;
    border-top-left-radius:  5px;
    border-bottom-left-radius:  5px;
    background-color: #ffffffc2;
}
.input-btn{
    width: 15%;
    border-top-right-radius:  5px;
    border-bottom-right-radius:  5px;
    background-color: #535353;
    color: #ffffff;
    font-size: 3vw;
}