/*footer.css*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
html,body{
	width: 100%;
	height: 100%;
	background-image: url(../images/first/bg.jpg);
	background-size: 100% 100%;
	font-family: Youyuan;
}
/*底部固定----------------------*/
#footer{
	width: 100%;
	height: 65px;
	position: fixed;
	bottom: 0;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 10px;
	opacity: 0.9;
}
#footer > *{
	opacity: 1;
}
#footer a:nth-child(1) img{
	width: 25px;
	height: 23px;
}
#footer a:nth-child(2) img{
	width: 25px;
	height: 20px;
}
#footer a:nth-child(4) img{
	width: 25px;
	height: 20px;
}
#footer a:nth-child(5) img{
	width: 28px;
	height: 22px;
}
.f-icons > p{
	text-align: center;
	color: #959191;
}
.f-btn{
	display: block;
	width: 42px;
	height: 42px;
	border: 1px solid black;
	border-radius:50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.f-btn-inner{
	width: 34px;
	height: 34px;
	background-color: black;
	border-radius: 50%;
}
