/* 屹彬 历史纪录 */
#history{
    position: relative;
    overflow: scroll;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#history>section{
    width: 100vw;
    height: 80vh;
    vertical-align: middle;
}  
#history>section p{
    font-size: 3.5vw;
    color: #fff;
    display: inline-block;
   height: 20px;
   line-height: 20px;
} 

#history>section>div{
    width: 100vw;
    height: 20vh;
    position: relative;
    padding-top: 5vh;

}
.historyRight{
    display: inline-block;
    width: 50vw;
    vertical-align: bottom;
    height: 12vh;
    margin-left :2vw;
    /* padding-top: 2vw; */
    line-height: 3vh;
}

historyRightP2 > span{

    margin-left: 2vw;
    font-size: 2.5vw;

}

.historyDiv {
    width: 80vw;
    height: 14vh;
    /* opacity: 0.8; */
    border-radius: 5px;
    margin-top: 2vh;
    background: linear-gradient(to left,#040309,#3d3c3c);
}

.historyDiv2{
    display: inline-block;
    width: 84vw;
    float: right;
    height: 25vh;
}
.historyLeft{
    display: inline-block;
    background-image: url('../img/test.jpg');
    width:  10vh;
    height: 10vh;
    border-radius: 50%;
    /* margin-left: 5vw; */
    background-size: cover;
    background-position: center;
    margin: 2vh;

}
.historyRightP1{
    margin-top: 1vh;
}
.historyDiv2 p{
    
    font-size:3vw;
    color: #fff;
    display: inline-block;

} 

.historyDiv2>p{
    font-size: 4.5vw;
}

.historySpan{
    padding:  0 1vw 0 1vw;
    margin-left: 2vw;
    font-size: 0.5vw;
    border-radius:6px;
    border: 1px solid  white;
    color: #fff;
    display: inline-block;
}

/****/
  
