*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "幼圆";
    font-size: 20px; 
    overflow: hidden;
} 
input{
    border:none;
}
/****顶部栏***/
header{
    z-index: 2;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right,#040309,#858484);
    overflow: hidden;
    font-size: 0;
    position: fixed;
    top:0;
}
#mainhead > div{
    display:inline-block;
    width: 50%;
    height: 67px;
}
#mainhead p{
    font-family: 'Youyuan' ,sans-serif;
    text-align: center;
    margin-top: 25px;
    font-size: 4.5vw;
    color: #ffffff;
    transition: font-size ,0.2s;
}
#mainhead #header1{
    font-size:5.2vw;
    color: #fbf6c1;
}
.line{
    height: 0;
    margin: 5px 30% 0 41%;
    border-radius: 45px;
    border-bottom: 2px solid #fffbc4;
    width: 0;
}
#otherhead{
    width: 100%;
    text-align: center;
}
#otherhead p{
    font-family: 'Youyuan' ,sans-serif;
    text-align: center;
    margin-top: 25px;
    font-size: 5vw;
    color: #fbf6c1;
}
/****首页***/
.mainbox{
    width: 90vw;
    height: 36.5vh;
    border-radius: 7px;
    background-color: aliceblue;
    margin-top: 4vh;
}
.container{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 80vh;
}

/****背景***/
#background{
    background-image: url('../img/bg.jpg');
    width: 100%;
    height: 100%;
    background-size: contain;
}
/******************/
#footer{
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 10vh;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}
#footerFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 0.6em;
    color: #959191;
    text-align: center;
    width: 100%;
}
a{
    text-decoration: none;
    display: block;
    vertical-align: baseline;
}
.img1{
    width: 25px;
    height: 23px;
    display: block;
    margin: 5px;

}
.img2{
    width: 25px;
    height: 20px;
    display: block;
    margin: 5px;
}
.img3{
    width: 25px;
    height: 20px;
    display: block;
    margin: 5px;
}
.img4{
    width: 28px;
    height: 23px;
    display: block;
    margin: 5px;
}
#footerRad>div{
    border-radius: 50%;
    height: 36px;
    margin-top: 4px ;
    margin-left: 4px;
    width: 36px;
    background-color: black;

}
#footerRad{
    border-radius: 50%;
    height: 44px;
    width: 44px;
    border: 1px solid black;
}
