*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "幼圆";
    font-size: 20px; 
    overflow: hidden;
} 
/****顶部栏***/
header{
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right,#040309,#858484);
    overflow: hidden;
    font-size: 0;
    position: fixed;
    top:0;
}
#mainhead > div{
    display:inline-block;
    width: 50%;
    height: 67px;
}
#mainhead p{
    font-family: 'Youyuan' ,sans-serif;
    text-align: center;
    margin-top: 25px;
    font-size: 4.5vw;
    color: #ffffff;
    transition: font-size ,0.2s;
}
#header1{
    font-size:5.2vw;
    color: #fbf6c1;
}
.line{
    height: 0;
    margin: 5px 30% 0 41%;
    border-radius: 45px;
    border-bottom: 2px solid #fffbc4;
    width: 0;
}
#otherhead{
    width: 100%;
    text-align: center;
}
#otherhead p{
    font-family: 'Youyuan' ,sans-serif;
    text-align: center;
    margin-top: 25px;
    font-size: 5vw;
    color: #fbf6c1;
}
/****首页***/
.mainbox{
    width:351px;
    height: 244px;
    border-radius:7px;
    background-color: aliceblue;
    margin-top:25px; 
}
#main{
    overflow: scroll;
    z-index: 1;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    background-image: url(img/bg.jpg);
    background-size: cover;
    position: fixed;
top: 10%;
}
.mainImg{
    width: 100%;
    height: 190px;
    background:url(../img/test.jpg);
    background-size: cover;
    background-position: center;
    -webkit-mask-image:-webkit-gradient(linear,right top,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7)));
}
.mainboxtop{
    height: 30px;
    text-align: center;
    padding-top: 5px;
    padding-left: 4px;
    position: relative;
}
.label{
    display: table-cell;
    width: 47px;
    height: 21px;
    border: 2px solid #FFF16E;
    border-radius:6px;
    font-size: 15px;
    overflow: hidden;
    color: #FFF16E;
}
.date,.time{
    font-size: 15px;
    color: #ffffff;
    position: absolute;
    top: 8px;
}
.date{
    right: 55px;
}
.time{
    right: 10px;
}
/****背景***/
#background{
    background-image: url('../img/bg.jpg');
    width: 100%;
    height: 100%;
    background-size: contain;
}
/******************/
#footer{
    position: fixed;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 10vh;
    width: 100%;
    bottom: 0;
    background-color: #fff;
}
#footerFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 0.6em;
    color: #959191;
    text-align: center;
    width: 100%;
}
a{
    text-decoration: none;
    display: block;
    vertical-align: baseline;
}
.img1{
    width: 25px;
    height: 23px;
    display: block;
    margin: 5px;

}
.img2{
    width: 25px;
    height: 20px;
    display: block;
    margin: 5px;
}
.img3{
    width: 25px;
    height: 20px;
    display: block;
    margin: 5px;
}
.img4{
    width: 28px;
    height: 23px;
    display: block;
    margin: 5px;
}
#footerRad>div{
    border-radius: 50%;
    height: 36px;
    margin-top: 4px ;
    margin-left: 4px;
    width: 36px;
    background-color: black;

}
#footerRad{
    border-radius: 50%;
    height: 44px;
    width: 44px;
    border: 1px solid black;
}
