/* 阳宁  主页 */
#main{
    overflow: scroll;
    z-index: 1;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 6.5%;
}
#white-space{
    width: 100%;
    height: 5vh;
}
.mainImg{
    width: 100%;
    height:45vw;
    z-index: 3;
    position: relative;
    background-color: rgba(0,0,0,0.3);
}
.mainbox{
    width: 90vw;
    height: 58vw;
    border-radius: 7px;
    background-color: aliceblue;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
.mainboxtop{
    height:8vw;
    text-align: center;
    padding-top: 2vw;
    padding-left: 4px;
    position: relative;
}
.label{
    display: table-cell;
    width: 47px;
    height: 21px;
    line-height: 21px;
    border: 2px solid #FFF16E;
    border-radius:6px;
    font-size: 15px;
    overflow: hidden;
    color: #FFF16E;
    font-weight: bold;
}
.date,.time{
    font-size: 4.2vw;
    color: #ffffff;
    position: absolute;
    top: 2vh;
}
.date{
    right: 55px;
}
.time{
    right: 10px;
}
.blackbox{
    position: absolute;
    background: url(../img/test.jpg);
    background-size: cover;
    background-position: center;
    height: 45vw;
    width: inherit;
    filter: blur(1px);
    border-radius: 7px;
}
.mainboxmid{
    width: 100%;
    height: 35vw;
    position: relative;
}
.mainboxmid p{
    width: 60%;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 20%;
    font-weight: bold;
    line-height: 1.3em;
    color: #FFFFFF;
    font-size: 5vw;
    font-weight: 500;
    font-family: 'SimHei',sans-serif;
}
.mainboxbottom{
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    position: relative;
}
.headimg{
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 20px;
    background-image: url(../img/head.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mainhead span{
    position: relative;
    bottom: 1.45vh;
    color: #676464;
    margin-left: 2vw;
    font-size: 3.5vw;
    font-family: 'Youyuan',sans-serif;
}
.btnPick{
    width: 5vw;
    height: 2.5vh;
    position: absolute;
    right: 16%;
    bottom: 35%;
    background-image: url(../img/pick0.png);
    background-size: contain;
    background-repeat: no-repeat;
    }
.btnDiscuss{
    width: 6vw;
    height: 2.5vh;
    position: absolute;
    bottom:35%;
    right: 7%;
    background-image: url(../img/discuss0.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

