/* 屹彬 我 */
#midPart{
    width: 100%;
    height: 46vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: middle;
    flex-wrap: wrap;
}
#midPart>div{
    width: 50vw;
    height: 23vh;
    display: flex;
   justify-content: center;
   align-items: center;
}
#background1>img{
    width: 200px;
    height: 60px;
}
#midPart>div>div{
    width: 70px;
    text-align: center;
}
#midPart>div>div>img{
    margin: 10%;
    display: inline-block;
}
#midPart>div>div>p{
    display:inline-block
}
.div1>div>img{
    width: 30px;
    height: 38px;
}
.div1>div>p{
    font-size: 0.8rem;
    color:#FFFFFF;
    font-family: 'youyuan';
}
.div2>div>p{
    font-size: 0.8rem;
    color:#FFFFFF;
    font-family: 'youyuan';
}
.div2{
    background-color: #555649;
}
.div2>div>img{
    width: 45px;
    height: 38px;
}
.div3{
    background-color: #FFEE50;
}
.div3>div>img{
    width: 38px;
    height: 38px;
}
.div3>div>p{
    font-size: 0.8rem;
    font-family: 'youyuan';
}
.div4{
    background-color: #FFF7AE;;
}
.div4>div>img{
    width: 38px;
    height: 38px;
}
.div4>div>p{
    font-size: 0.8rem;
    font-family: 'youyuan';
}