/* 屹彬 待办 */
#message{
    overflow: scroll;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#message>section{
    width: 100vw;
    height: 80vh;
    vertical-align: middle;
}  
#message>section p{
    font-size: 3.5vw;
    color: #fff;
    display: inline-block;
   height: 20px;
   line-height: 20px;
} 

.message-block{
    width: 100vw;
    height: 9vw;
}
.messagediv{
    width: 100vw;
    height: 40vw;
    position: relative;
}

.messageDiv1{
    width: 8vw;
    height: 40vw;
    float: left;
    margin-left: 8vw;
    display: inline-block;
}

.messageLine{
    width: 1px;
    height: 41vw;
    background-color: #fff;
    margin-left: 10px;
    position: absolute;
    z-index: -1;
    /* margin-top: -4px; */
} 
.messagediv2{
    width: 100vw;
    height: 50.4vw;
    position: relative;
}

.messageDiv1-2{
    width: 8vw;
    height: 50.4vw;
    float: left;
    margin-left: 8vw;
    display: inline-block;
}

.messageLine2{
    width: 1px;
    height: 50.4vw;
    background-color: #fff;
    margin-left: 10px;
    position: absolute;
    z-index: -1;
    /* margin-top: -4px; */
} 
.messageLeft{
    display: inline-block;
    background-image: url('../img/test.jpg');
    width: 22vw;
    height: 40vw;
    border-radius: 50%;
    margin-left: 5vw;
    background-size: cover;
    background-position: center;

}
.messageRight{
    display: inline-block;
    width: 45vw;
    height: 20vw;
    margin-left: 5vw;
}

.messageImg{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
/****/
.messageDiv2-2{
    display: inline-block;
    width: 84vw;
    float: right;
    height: 40vw;
}
.messageDiv2-2 p{
    font-size:3vw;
    color: #fff;
    display: inline-block;

} 
.messageDiv2-2 > span{
    font-size: 2.5vw;
    color: #fff;
    display: inline-block;
    height:30px;
    line-height:30px;
    vertical-align: bottom;
    margin-top: 1.8vw;
    /* margin: 5vw 10vw; */
}
.messageDiv2 p{
    font-size:3vw;
    color: #fff;
    display: inline-block;

} 
.messageDiv2 > span{
    font-size: 2.5vw;
    color: #fff;
    display: inline-block;
    height:30px;
    line-height:30px;
    vertical-align: bottom;
    margin-top: 1.8vw;
    /* margin: 5vw 10vw; */
}
.messageDiv2{
    display: inline-block;
    width: 84vw;
    float: right;
    height: 50.4vw;
}

.messageDiv{
    width: 70vw;
    height: 27vw;
    display: flex;
    align-items: center;
    /* opacity: 0.8; */
    border-radius: 5px;
    margin-top: 10px;
    background: linear-gradient(to left,#040309,#3d3c3c);

}

.messageLeft{
    display: inline-block;
    background-image: url('../img/test.jpg');
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    /* margin-left: 5vw; */
    background-size: cover;
    background-position: center;
    margin: 0 2vw;

}
.messageRight{
    display: inline-block;
    width: 45vw;
    height: 21.6vw;
    margin-left :2vw;
    line-height: 5.4vw;
}

.messageRight > p > span{
    margin-left: 2vw;
    font-size: 2.5vw;
}
#myBusinessRightP3{
    font-size: 2.5vw;
}