/* 屹彬 草稿箱 */
#myBin{
    overflow: scroll;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#myBin>section{
    width: 100vw;
    height: 80vh;
    vertical-align: middle;
}  
#myBin>section p{
    font-size: 3.5vw;
    color: #fff;
    display: inline-block;
   height: 20px;
   line-height: 20px;
} 

/* #myBin>section>div{
    width: 100vw;
    height: 25vh;
    position: relative;
    padding-top: 5vh;

} */



.myBinlogo{
    float: right;
    margin-top: 1vh;
    width: 50px;
}
.myBinlogo1{
    width: 15px;
    height: 18px;
    margin-right: 7px;
    
}
.myBinlogo2{
    width: 15px;
    height: 18px;
}
#myBin>section span{

    color: #fff;
    display: inline-block;
}

/****/

.myBinDiv2{
    display: inline-block;
    width: 84vw;
    float: right;
    height: 30vh;
}


.myBinDiv {
    width: 84vw;
    height: 16vh;
    /* opacity: 0.8; */
    border-radius: 5px;
    /* margin-top: 2vh; */
    background: linear-gradient(to left,#040309,#3d3c3c);
}
.myBinDiv2>span{
    font-size: 3.5vw;
    margin: 2vh 0 ;
}

.myBinRight{
    display: inline-block;
    width: 42vw;
    vertical-align: bottom;
    height: 16vh;
    margin-left :2vw;
    /* padding-top: 2vw; */
    line-height: 3vh;
}
/*****/

#myBin2{
    background-image: url('/../img/nwlogo.png');
}
/* myBinRightP2 > span{

    margin-left: 2vw;
    font-size: 2.5vw;

} */


.myBinDiv2{
    display: inline-block;
    width: 84vw;
    float: right;
    height: 30vh;
}
.myBinLeft{
    display: inline-block;
    background-image: url('/../img/test.jpg');
    width:  12vh;
    height: 12vh;
    border-radius: 50%;
    /* margin-left: 5vw; */
    background-size: cover;
    background-position: center;
    margin: 2vh;

}
.myBinRightP1{
    margin-top: 2vh;
}
.myBinDiv2 p{
    
    font-size:3vw;
    color: #fff;
    display: inline-block;

} 

.myBinDiv2>p{
    font-size: 4.5vw;
}

.myBinSpan{
    padding:  0 1vw 0 1vw;
    margin-left: 2vw;
    font-size: 0.5vw;
    border-radius: 6px;
    border: 1px solid  white;
    color: #fff;
    display: inline-block;
}
