/* 屹彬 我的事务 */

#myBusiness{
    overflow: scroll;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#myBusiness > section{
    width: 100vw;
    height: 80vh;
}
.myDiv{
    width: 100vw;
    height: 25vh;
    position: relative;
    margin-top: 5vh;
}  
.myDiv1{
    width: 8vw;
    height: 25vh;
    float: left;
    margin-left: 8vw;
    display: inline-block;
}
.myBusinessDiv2 p{
    font-size:3vw;
    color: #fff;
    display: inline-block;

} 
.myBusinessDiv2 > span{
    font-size: 2.5vw;
    color: #fff;
    display: inline-block;
    margin: 5vw 10vw;
}
.myBusinessDiv2{
    display: inline-block;
    width: 84vw;
    float: right;
    height: 25vh;
}
.myLine{
    width: 1px;
    height: 30vh;
    background-color: #fff;
    /* margin-left: 6vw;
    margin-top: 2vh; */
    margin-left: 10px;
    position: absolute;
    z-index: -1;
    margin-top: -1px;
    margin-top: -4px;
}

.mySmallRad{
    width: 10px;
    height:10px;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    background-color: #FFF16E;
    border: 2px solid black
}
.myBigRad{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF16E;
    position: relative;
    z-index: 1;
    /* padding-top: 2px;
    padding-left: 2px; */
    /* margin-left: 6vw; */
  
}
.myBusinessDiv{
    width: 70vw;
    height: 15vh;
    display: flex;
    align-items: center;
    /* opacity: 0.8; */
    border-radius: 5px;
    background: linear-gradient(to left,#040309,#3d3c3c);

}

.myBusinessLeft{
    display: inline-block;
    background-image: url('/../img/test.jpg');
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    /* margin-left: 5vw; */
    background-size: cover;
    background-position: center;
    margin: 0 2vw;

}
.myBusinessRight{
    display: inline-block;
    width: 45vw;
    height: 12vh;
    margin-left :2vw;
    line-height: 3vh;
}

.myBusinessRight > p > span{
    margin-left: 2vw;
    font-size: 2.5vw;
}
#myBusinessRightP3{
    font-size: 2.5vw;
}
/**插入元素img**/
#myBusiness1{
    background-image: url('/../img/nwlogo.png');
}
#myBusiness2{
    background-image: url('/../img/test.jpg');
}

#myBusiness3{
    background-image: url('/../img/IMG_3631.jpg');
}


/***/
