/* 屹彬 我的小组 */
#myGroup{
    position: relative;
    overflow: scroll;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#myGroup>section{
    width: 100vw;
    height: 80vh;
    vertical-align: middle;
}  
#myGroup>section p{
    font-size: 3.5vw;
    color: #fff;
    display: inline-block;
   height: 20px;
   line-height: 20px;
} 

#myGroup>section>div{
    width: 100vw;
    height: 20vh;
    position: relative;
    padding-top: 5vh;

}
.myGroupLine{
    width: 1px;
    height: 35vh;
    background-color: #fff;
    margin-left: 6vw;
    margin-top: 2vh;
    left:10px;
    position: absolute;
}

.myGroupSmallRad{
    width: 10px;
    height:10px;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
    background-color: #FFF16E;
    border: 2px solid black
}
.myGroupBigRad{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF16E;
    /* padding-top: 2px;
    padding-left: 2px; */
    margin-left: 6vw;
 
  
}
.myGroupDiv{
    width: 78vw;
    height: 28vw;
    position: absolute;
    left: 50%;
    margin-left: -39vw;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    /* opacity: 0.8; */
    border-radius: 5px;
    background: linear-gradient(to left,#040309,#3d3c3c);
}
.myGroupLeft{
    display: inline-block;
    background-image: url('../img/test.jpg');
    width: 22vw;
    height: 20vw;
    border-radius: 50%;
    margin-left: 5vw;
    background-size: cover;
    background-position: center;

}
.myGroupRight{
    display: inline-block;
    width: 45vw;
    height: 20vw;
    margin-left: 5vw;
}
.myGroupRight>p>b{
    margin-left: 2vw;
    height: 20px;
    line-height: 20px;
    font-size: 2.5vw;
    
}
.myGroupRight>p>i{
    margin-left:0 ;
    height: 20px;
    line-height: 20px;
    font-size: 2.5vw;
    
}