/*myCard.css*/
html,body{
    width: 100%;
    height: 100%;
    /* background-image:url(/../img/bg.jpg); */
    font-family: "幼圆";
}
/* 去掉input的默认边框 */
input{
    border:none;
    outline: none;
}
/* 每个容器都这么写 */
/* .container{
    display: block;
    width: 100%;
    height: 80vh;
    position: fixed;
    background-image: url(/../img/bg.jpg);
    top: 10vh;
    background-size: 100% 100%;
} */
#newCard{
    background: transparent;
}
/* 卡片的外包块 */
.make-card{
    width:90vw;
    /* height: 60vh; */
    background-color: white;
    position: relative;
    /* top: 50%; */
    margin:6vh 5% 0 5%;
    border-radius: 7px;
    background-color: white;
    box-sizing: border-box;
}
/* 叉叉推出卡片 */
.chacha{
    position: absolute;
    right: 4vw;
    top: 4vw;
    width: 14px;
    height: 14px;
    background-image: url(/../img/chacha.png);
    background-size: 100% 100%;
}
/* 文字：新建我的卡片 */
.make-card > p{
    text-align: center;
    font-size: 16px;
    padding-top: 2vh;
    padding-bottom: 16px;
}
/* 输入标题 */
.make-card input[name = "title"]{
    box-sizing: border-box;
    font-size: 10px;
    padding: 0 12px;
    width: 86%;/*宽度写成了86%*/
    height: 28px;
    background-color:#d6d6d6;
    display:block;
    margin:0 auto 10px;
    border-radius: 4px;
}
.make-card input::placeholder{
    font-family: Youyuan;
}
/* 输入具体描述 */
.make-card textarea{
    box-sizing: border-box;
    font-size:10px;
    width: 58%;
    height: 12vh;
    padding: 6px 12px;
    outline: none;
    background-color:#d6d6d6;
    border:none;
    border-radius:4px;
    margin-left:7%;
    resize: none;
    overflow-y: scroll;
}
.make-card textarea::placeholder{
    font-family: Youyuan;
}
/* 添加图片 */
.add-img{
    z-index: 1;
    opacity: 1;
    position: relative;
    display: inline-block;
    color: white;
    font-size: 10px;
    vertical-align: top;
    line-height: 12vh;
    background-color:#2b3535;
    text-align: center;
    width: 25%;
    border-radius:4px;
    height: 12vh;
}
span[class="add-img"]{
    opacity: 1;
    position: absolute;
    right: 7%;
    /*display: inline-block;
    color: white;
    font-size:6px;
    vertical-align: top;
    line-height: 12vh;
    background-color:#2b3535;
    text-align: center;
    width: 25%;
    border-radius:4px;
    height: 12vh; */
}
/* 标签 */
.card-label{
    font-size: 12px;
    margin: 8px 7%;
}
/* 标签三个选项 */
.card-label > span{
    border:1px solid #2e2c34;
    margin-left: 10px;
    padding:2px 6px;
    border-radius:6px;
}
/* 被选中的标签样式 */
.card-active{
    background-color: #2e2c34;
    color:white;
}
/* 分割线 */
hr{
    margin:14px 0;
}
/* 横线下面 */
.card1-2{
    font-size: 3vw;
    padding:0 6vw;
}
.card1-2-content{
    margin-bottom: 2vh;
}
/* select共有的属性 */
.card1-2 select{
    -webkit-appearance: none;
    display:inline-block;
    border:1px solid #2e2c34;
    font-family: "幼圆";
    font-size: 12px;
    height:5vw;
    padding:0 6vw 0 2vw;
    outline:none;
    border-radius: 4px;
    background-color:transparent;
}
/* 下三角角标 */
.sanjiao{
    display: inline-block;
    width: 1vw;
    height: 1vw;
    border-right:1px solid black;
    border-bottom:1px solid black;
    position: relative;
    left: -6vw;
    top: -2px;
    transform: rotate(45deg);
} 
/* 选择小组的select */
.card1-2 select[name="s-group"]{
    width:32vw;
}
/* 选择小组成员的select */
.card1-2 select[name="s-member"]{
    width: 35vw;
}
/* 事件执行模式 */
.e-moshis{
    margin-left:6vw;
    border:1px solid #2e2c34;
    font-size: 10px;
    padding: 3px 3vw;
    border-radius:6px;
}
.card1-2 select > option{
    /* font-size: 1vw;
    width: 25vw;
    height: 30px; */
    -webkit-appearance: none;
    height: 5vw;
}
/* 打开日历 */
#dead-date{
    /* -webkit-appearance: none; */
    border:1px solid #2e2c34;
    border-radius: 4px;
    font-size:10px;
    height: 14px;
    padding:  2px 8px;
}
/* 移除向下箭头 */
/* input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
 } */
 /* 移除叉叉 */
 input[type="date"]::-webkit-clear-button{
    display:none;
 }
 .card1-2-content input[type="date"]:before{
    content: attr(placeholder);
    color:#aaa;
}
/* 创建和取消按钮 */
.card1-3{
    display: flex;
    justify-content: center;
}
.card1-end{
    margin: 0 10vw 14px;
    padding:8px 16px;
    font-size:14px;
    border-radius:6px;
    font-family: "幼圆";
    color:white;
}
.card1-3 .card-submit{
    background-color: #2b3535;
}
.card1-3 > span{
    background-color:#d6d6d6;
}
