/* 屹彬 社交 */
#social{
    overflow: scroll;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-block{
    width: 100vw;
    height: 5vh;
}
#social>section{
    width: 100vw;
    height: 80vh;
} 
.socialdiv{
    width: 100vw;
    height: 20vh;
    position: relative;
}

.socialDiv1{
    width: 8vw;
    height: 20vh;
    float: left;
    margin-left: 8vw;
    display: inline-block;
}

.socialLine{
    width: 1px;
    height: 20vh;
    background-color: #fff;
    margin-left: 10px;
    position: absolute;
    z-index: -1;
    margin-top: -4px;
} 
.socialRight{
    display: inline-block;
    width: 25vw;
    /* vertical-align: bottom; */
    height: 12vh;
    /* margin-left :2vw; */
    /* padding-top: 2vw; */
    line-height: 3vh;
}

.socialRightP2 > span{
    margin-left: 2vw;
    font-size: 2.5vw;
}
.socialImg{
    display: inline-block;
    width:  16vw;
    height: 16vw;
    margin: auto;
}
.socialDiv {
    width: 80vw;
    height: 12vh;
    /* opacity: 0.8; */
    border-radius: 5px;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,#040309,#3d3c3c);
}
.socialRight>p>img{
    width: 5vw;
    height: 5vw;
    display: inline-block;
    margin: 2vw;
}
.socialDiv2{
    display: inline-block;
    width: 84vw;
    float: right;
    height: 20vh;
}
.socialLeft{
    display: inline-block;
    background-image: url('/../img/test.jpg');
    width:  16vw;
    height: 16vw;
    border-radius: 50%;
    /* margin-left: 5vw; */
    background-size: cover;
    background-position: center;
    margin: auto;

}
.socialRightP1{
    margin-top: 2vh;
}
.socialDiv2 p{
    
    font-size:3vw;
    color: #fff;
    display: inline-block;

} 
.socialDiv2 > span{
    font-size: 2.5vw;
    color: #fff;
    display: inline-block;

}
.socialDiv2>p{
    font-size: 4vw;
}